.balances-illustration {
  width: 90%;
  display: block;
  margin: 10px auto 10px auto;
}

.balances-totalcash {
  text-align: center;
  background-color: #eedf5b;
  height: 50px;
  padding-top: 13px;
  margin: auto;
}

.balances-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* display: block;
  margin: 0 auto; */
}

.balances-categories img {
  width: 100px;
  height: 100px;
  margin: 30px 5px 30px 5px;
}

.spendings-category {
  box-shadow: 2px 2px 15px 1px #cbcbcb !important;
}

.toggle-MainBank {
  color: black !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.toggle-SecondBank {
  color: rgb(108, 108, 108) !important;
  text-decoration: none !important;
}

.card-header-mainbank {
  background-color: #dddddd !important;
}

.MainBank-Records {
  list-style-type: none;
}

.card-balances {
  position: static !important;
}

/*---------- Desktop Version ----------*/

@media (min-width: 1024px) {
  .balances-illustration {
    width: 35%;
  }

  .card-balances {
    width: 50%;
    margin: auto;
  }

  .Acordion-Balances {
    margin-top: 20px;
    text-align: center !important;
  }
}
