.welcome-balances {
  text-align: center;
  font-weight:800;
  margin-top: 20px;
  
}

div.card-balances.card {
  border-radius: 0;
  border: 1px solid rgb(225, 225, 225);
  padding: 0;
}

.balances-illustration {
  width: 90%;
  display: block;
  margin: 20px auto 20px auto;
}

.balances-totalcash {
  text-align: center;
  background-color: #eedf5b;
  height: 50px;
  padding-top: 13px;
  margin: auto;
}

.balances-categories {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  
}

.toggle-MainBank-balances {
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.toggle-SecondBank {
  color: rgb(108, 108, 108) !important;
  text-decoration: none !important;
}

.card-header-mainbank-balances {
  background-color: #000000 !important;
  border: 0 !important;
}

.card-header-secondbank-balances {
  background-color: #e6eaef !important;
}

.MainBank-Records {
  list-style-type: none;
}

.card-balances {
  position: static !important;
}

.card-header {
  height: 80px;
}

.spendings-card {
  height: 100px;
  width: 100px;
  background-color: #01549a;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 1px #898989;
  margin-top: 30px;
  margin-bottom: 30px;
}
.banking-card {
  height: 100px;
  width: 100px;
  background-color: #e6eaef;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.digital-card {
  height: 100px;
  width: 100px;
  background-color: #01549a;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 1px #898989;
  margin-top: 30px;
  margin-bottom: 30px;
}

.spendings-card:hover{
  box-shadow: 4px 4px 15px 2px #898989;
  background-color: #00437a;
}
.digital-card:hover{
  box-shadow: 4px 4px 15px 2px #898989;
  background-color: #00437a;
}


.card-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
  margin-top: 7px;
}
.card-title-habits {
  color: rgb(108, 108, 108);
  text-align: center;
  font-size: 12px;
  margin-top: 7px;
}

.card-icon-balances {
  width: 40px !important;
  height: 40px !important;
  display: block !important;
  margin: 20px auto auto 27px !important;
}

.card-icon-balances-habits {
  width: 30px !important;
  height: 40px !important;
  display: block !important;
  margin: 20px auto auto 35px !important;
}

/*---------- Desktop Version ----------*/

@media (min-width: 1024px) {
  .balances-illustration {
    width: 35%;
  }

  .balances-totalcash {
    width: 50%;
  }

  .card-balances {
    width: 50%;
    margin: auto;
  }

  .Acordion-Balances {
    margin-top: 20px;
    text-align: center !important;
  }

  .balances {
    background-image: url("https://i.imgur.com/A5fcFPq.jpg"), url("https://i.imgur.com/BJ22PP1.jpg");
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: contain;
  }
}
