.picture {
  width: 100%;
}
.p {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.explore-profile {
  display: flex;
  justify-content: center;
}
.profile-btn {
  display: flex;
  justify-content: center;
  width: 281px;
  height: 50px;
  left: 47px;
  top: 337px;
  background: #f1df68;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.intro-box {
  width: 146px;
  height: 122px;
  background: #f1f1f1;
  border-radius: 5px;
  margin: 10px;
}
.intro-boxcontainer {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 812px) {
  .picture {
    width: 100%;
  }
  .p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .explore-profile {
    display: flex;
    justify-content: center;
  }
  .profile-btn {
    display: flex;
    justify-content: center;
    width: 281px;
    height: 50px;
    left: 47px;
    top: 337px;
    background: #f1df68;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .intro-box {
    width: 146px;
    height: 122px;
    background: #f1f1f1;
    border-radius: 5px;
    margin: 10px;
  }
  .intro-boxcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
