/* Desktop Version */

@media (min-width: 961px) {
  .logo {
    display: flex;
    width: 4rem;
    height: 100%;
    float: left;
  }

  .navbar-items {
    background: black;
    height: 12vh;
    width: 100%;
  }

  .nav-menu {
    background: transparent;
    display: flex;
    list-style: none;
  }

  .menu-list {
    display: flex;
  }

  a {
    text-decoration: none;
    background: none;
  }

  .nav-links {
    display: flex;
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    font-size: 22px;
    border-radius: 13px;
  }

  .NavBar-li {
    background: none;
    color: white;
    font-weight: 600; 
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;  
    padding: 20px; 
  }

  .nav-links:hover {
    background-color: #ecd734;
  }

  .nav-links:hover,
  .active {
    color: black !important;
  }


  .menu-list {
    background: none;
    text-decoration: none;
  }

  .menu-icon {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }

  .logo-container {
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
  }

  .logo:hover {
    transform: translateY(-7px);
    font-size: 5rem;
    border-radius: 3px;
  }

}


/* Tablets */
@media screen and (max-width:960px) {

  .logo {
    display: flex;
    width: 3rem;
    height: 100%;
    float: left;
    margin-top: 0px;
  }

  .navbar-items {
    background: black;
    display: inline-flex;
    align-items: center;
    height: 9vh;
    width: 100%;
  }

  .nav-menu {
    background: transparent;
    display: flex;
    list-style: none;
    margin-bottom: 1rem,
  }

  .menu-list {
    display: flex;
    height: 120px;
  }

  a {
    text-decoration: none;
    background: none;
  }

  .nav-links {
    display: flex;
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    font-size: 22px;
    border-radius: 13px;
  }

  .NavBar-li {
    background: none;
    color: white;
    font-weight: 600; 
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 30px;  
    padding: 40px; 
  }

  .menu-list {
    background: none;
    text-decoration: none;
  }

  .menu-icon {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }

  .logo-container {
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  }

}



/* Mobile Version */

@media screen and (max-width: 480px) {
  .logo-container {
    display: flex;
    margin-top: 1px;
    position: absolute;
  }

  .logo {
    width: 3rem;
    padding-top: 25px;
  }

  .navbar-items {
    background: black;
    height: 10vh;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    background: black;
    padding: 0px;
    margin: 0px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -200%;
    transition: all 0.5s ease;
    padding: 0px;
    margin-bottom: 0px;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.9s ease-out;
    z-index: 2;
    margin-top: 10px;
  }

  .NavBar-li {
    position: relative;
    background: black;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #eede5b;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
  }

  .nav-links {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .menu-icon {
    text-decoration: none;
    background: none;
    color: #eede5b;
    display: flex;
    position: absolute;
    top: 0px;
    right: 1rem;
    transform: translate(-50%, 60%);
    font-size: 3rem;
  }
}
