/* Styling for Menu */

@media screen and (min-width: 350px) {
  .logo {
    display: flex;
    width: 90px;
    height: 100%;
    float: left;
  }

  .navbar-items {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
  }

  .nav-menu {
    background: black;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50vw;
    margin-right: 7rem;
  }

  .menu-list {
    display: flex;
    height: 140px;
  }

  a {
    text-decoration: none;
    background: none;
  }

  .nav-links {
    letter-spacing: 3px;
    padding: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    list-style: none;
    font-size: 1.5rem;
    border-radius: 3px;
    padding: 20px;
  }

  .nav-links:hover {
    background-color: #eede5b;
  }

  .nav-links:hover,
  .active {
    color: black !important;
  }

  .NavBar-li {
    background: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    padding-top: 50px;
  }

  .menu-list {
    background: none;
    text-decoration: none;
  }

  .menu-icon {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }

  .logo-container {
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
  }

  .logo:hover {
    transform: translateY(-7px);
    font-size: 5rem;
    border-radius: 3px;
  }
}

@media screen and (max-width: 600px) {
  .logo-container {
    display: flex;
    margin-top: 0px;
    position: absolute;
  }

  .logo {
    max-width: 70%;
    padding-top: 15px;
  }

  .navbar-items {
    background: black;
    height: 13vh;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    background: black;
    padding: 0px;
    margin: 0px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: -200%;
    transition: all 0.5s ease;
    padding: 0px;
    margin-bottom: 0px;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.9s ease-out;
    z-index: 2.0;
    margin-top: 15px;
  }

  .NavBar-li {
    position: relative;
    background: black;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #eede5b;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0px;
    margin: 0;
  }

  .nav-links {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-bottom: 30px;
    padding-top: 50px;
  }

  .menu-icon {
    text-decoration: none;
    background:none ;
    color: #eede5b;
    display: flex;
    position: absolute;
    top: 0rem;
    right: 1rem;
    transform: translate(-50%, 60%);
    font-size: 3rem;
  }
}
