.spider-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px 20px;
}
.recharts-wrapper {
  width: 100%;
}
.recharts-surface {
  width: 100%;
  height: 300px;
}
.donutchart-legend-item {
  font-size: 18px;
  font-family: Verdana;
}
