/*---desktop-----*/

@media screen and (min-width: 350px) {
  .back {
    background-image: url("https://res.cloudinary.com/dnefeccae/image/upload/v1623946169/whenwhyHow/pexels-henry--co-2628393_2_exs5ii.jpg");
  }
  .login-container {
    background-image: url("https://res.cloudinary.com/dnefeccae/image/upload/v1624546542/whenwhyHow/A5fcFPq_cghyfg.jpg"),
      url("https://res.cloudinary.com/dnefeccae/image/upload/v1624546550/whenwhyHow/BJ22PP1_ioyebj.jpg");
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: contain;
    margin-bottom: -100px;
  }
  .signin-container {
    height: 150px;
    background: #f4f5f5;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  p.welcome {
    padding: 0;
    margin-top: 0;
  }
  .title-signin {
    width: 281px;
    background: #f1df68;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inputuser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    width: 410px;
    height: 35px;
    left: 40px;
    top: 281px;
  }
  .form {
    margin: auto;
    margin-left: 200px;
    padding-left: 30px;
    width: min-content;
  }
  .form-calendar {
    margin: auto;
    margin-right: auto;
    padding-right: 30px;
    width: min-content;
  }
  .column1 {
    display: flex;
    flex: 1 1;
    justify-content: space-between;
  }

  .column2 {
    display: flex;
    flex: 2;
  }

  .label-user {
    height: 89px;
    top: 264px;
    background: #f4f5f5;
    margin-bottom: 10%;
    margin: 10%;
    width: 600px;
  }
  .label-password {
    height: 89px;
    top: 384px;
    background: #f4f5f5;
    margin-bottom: 10%;
    margin: 10%;
    width: 600px;
  }
  .forgotten-psw {
    width: 127px;
    height: 14px;
    left: 36px;
    top: 476px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    color: #1f5495;
    margin: auto;
  }
  .signin {
    padding: 50px;
  }

  .button2 {
    display: flex;
    justify-content: center;
    width: 281px;
    height: 50px;
    left: 47px;
    top: 337px;
    background: #f1df68;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    justify-items: center;
    flex-direction: unset;
    margin: auto;
    margin-bottom: 100px;
  }
}

/*-----Mobile-----*/
@media screen and (max-width: 600px) {
  .back {
    display: none;
  }
  .login-container {
    background-image: none;
    background-repeat: none;
    background-position: none;
    background-size: none;
  }
  .signin-container {
    height: 150px;
    top: 65px;
    background: #f4f5f5;
  }
  .title-signin {
    width: 281px;
    height: 50px;
    left: 44px;
    top: 102px;

    background: #f1df68;
  }
  .form-calendar {
    display: none;
  }

  .label-user {
    height: 69px;
    left: 5px;
    top: 264px;
    width: fit-content;
    margin-left: 80px;

    background: #f4f5f5;
  }
  .label-password {
    height: 74px;
    left: 0px;
    top: 384px;
    width: fit-content;
    margin-left: 80px;

    background: #f4f5f5;
  }
  .forgotten-psw {
    width: 127px;
    height: 14px;
    left: 36px;
    top: 476px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    color: #1f5495;
    margin: 20px;
  }
  .inputuser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-inline: auto;
    width: 200px;
    height: 25px;
    left: 40px;
  }

  .button2 {
    width: 181px;
    height: 49px;
    left: 98px;
    top: 551px;

    background: #f1df68;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 30%;
    margin-inline: auto;
  }
}
