<<<<<<< HEAD

.root {
=======
:root {
>>>>>>> b392f331b80ad4e113e5429ece63a7d77753b24e
  --main: black;
  --second: #ecd734;
  --background: #f4f5f5;
  --cards: #e6eaef;
  --cards-second: #01549a;
  --cards-second-hover: #00437a;
  --btn: #f1df68;
}
<<<<<<< HEAD
 .root{
    font-family: 'Roboto', sans-serif;
=======

* {
font-family: 'Roboto', sans-serif;
>>>>>>> b392f331b80ad4e113e5429ece63a7d77753b24e
}
